DOMAIN_NAME=tgallet.42.fr

MARIADB_DATABASE=wordpress
MARIADB_USER=wpuser

WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wpuser

WP_TITLE=Inception
WORDPRESS_ADMIN=tgallet
WP_ADMIN_EMAIL=tristangallet17@gmail.com
